%main.page
  .clean-block.picture-show
    .container.border.bg-white.mb-4
      .row
        = render "pictures/picture-show-large-block", pic: @picture
        = render "pictures/picture-show-small-block", pic: @picture

